@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-dark: #121212;
    --bg-light: white;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[--bg-light] transition-colors dark:bg-[--bg-dark];
  }

  ::selection {
    @apply bg-accent-main text-white;
  }
}

@layer components {
  .layout {
    @apply mx-auto w-11/12 max-w-6xl;
  }

  .gradient-highlight {
    @apply bg-gradient-to-r from-accent-start to-accent-end bg-clip-text text-transparent;
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #121212, transparent 20%, transparent 80%, #121212);
  position: absolute;
  inset: 0;
}
