@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-dark: #121212;
    --bg-light: white;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[--bg-light] transition-colors dark:bg-[--bg-dark];
  }

  ::selection {
    @apply bg-accent-main text-white;
  }
}

@layer components {
  .layout {
    @apply mx-auto w-11/12 max-w-6xl;
  }

  .custom-button {
    @apply bg-white px-4 py-2 font-bold text-black dark:bg-black dark:text-white;
  }

  .main-border {
    @apply border border-gray-300 dark:border-gray-600;
  }

  .smooth-tab {
    @apply rounded-md transition-shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent-main;
  }

  .clickable {
    @apply smooth-tab main-border rounded-md shadow-sm transition hover:scale-[1.03] hover:shadow-md active:scale-[0.97];

    &:focus-visible {
      @apply scale-[1.03] shadow-md;
    }
  }

  .gradient-highlight {
    @apply bg-gradient-to-r from-accent-start to-accent-end bg-clip-text text-transparent;
  }

  .custom-underline {
    @apply underline decoration-transparent outline-none transition [text-decoration-thickness:1px]
    hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .animated-underline {
    background-size: 0 2px;
    background-position: 0 100%;

    @apply bg-gradient-to-r from-accent-start to-accent-end bg-no-repeat pb-0.5 no-underline
    outline-none transition-all duration-300;

    &.with-dots {
      @apply border-b border-dotted border-black dark:border-white;
    }

    &:hover,
    &:focus-visible,
    &:has(+ div:hover),
    .project-card:hover &,
    .project-card:focus-visible & {
      background-size: 100% 2px;

      &.with-dots {
        @apply border-transparent;
      }
    }
  }
}
